#appbox{
    border: 1px solid black;
    height: 500px;
    width: 90vw;
    background-image: url('src/Components/AppStore/mesh-691.png');
    border-radius: 10px;
    }

    #he{
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
    }
    .get{
        padding-left: 150px;
    }
    .pp{
        padding-left: 150px;
    }

    #appimg{
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        
    }
    .im{
        border-radius: 10px;
    }
    #fo{
        padding-top: 100px  ;
    }