#footer{
    border: 1px solid white;
    height: 300px;
    width: 90vw;
    display: flex;
    gap: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 -4px 6px rgba(0, 0, 0, 0.1),
    4px 0 6px rgba(0, 0, 0, 0.1),  
    -4px 0 6px rgba(0, 0, 0, 0.1); 
     
    
}


#foot{
    padding-left: 10px;
}